body {
  background-color: #282d34;
  color: white;
}

h1, h2, h3, h4 {
  font-size: larger;
  font-family: 'Monomaniac One', sans-serif;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 0;
}


h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

p {
  margin-bottom: 0;
}

ul {
  margin-bottom: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center; /*左右*/
  width: 100vw;
}

.header-container {
  top: 0;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  background-color: transparent;
  padding: 0 0 5px 0;
  width: 100%;
  background-color: #454f5b;
  text-align: center;
}

.instruction {
  text-align: left;
  font-size: small;
  margin: 5px;
  padding: 5px;
}

.modal-rules {
  background-color: #7f8a96;
}

.modal-quit {
  background-color: #7f8a96;
}

.input-container {
  position: fixed;
  bottom: 0;
  background-color: transparent;
  width: 100%;
}

.input-card {
  text-align: center;
  padding: 3px 0 10px 0;
  background-color: #454f5b;
  border-color: #282d34;
  border-radius: 0;
  border-width: 5px 0 0 0;
  color: #fff;
}

.system-message {
  word-break: break-all; /*JSON string を折り返す*/
  margin-bottom: 3px;
}

.iconMedium {
  font-size: large;
}

.iconLarge {
  font-size: x-large;
}

.message-user {
  color: #fee5c8;
}

.message-system {
  color: #caf1f1;
}

.debug-info {
  font-size: small;
}

.grid-container {
  padding: 5px;
  align-items: left; /*左右*/
  background-color: #454f5b;
  margin: 5px 0 70px 0;
}

.grid-scroller {
  overflow-x: scroll;
  overflow-y: scroll;
  max-height: 65vh;
  min-width: 80vw;
  scrollbar-color: #3c424a #76818d; /* #thumb #track */
}

@media (max-height: 780px) {
  .grid-scroller {
    max-height: 50vh;
  }
}

/* safari */
::-webkit-scrollbar {
  width: auto;
}

::-webkit-scrollbar-thumb {
  background-color: #3c424a;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #76818d;
}

.shiritorigrid {
  text-align: center; /* テキストを中央に配置 */
  font-size: small;
}

.usersurface {
  color: #535353;
  background-color: #faf2ea; /* 薄い橙色の背景 */
}

.userreading {
  color: black;
  background-color: #fee5c8; /* 橙色の背景 */
}

.systemsurface {
  color: #535353;
  background-color: #f3fafa; /* 薄い青色の背景 */
}

.systemreading {
  color: black;
  background-color: #caf1f1; /* 青色の背景 */
}
