body {
  background-color: #141827;
  color: #F0F5F9; /* soft white */
}

h1, h2, h3, h4 {
  font-size: larger;
  font-family: 'Monomaniac One', sans-serif;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 0;
}


h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

p {
  margin-bottom: 0;
}

ul {
  margin-bottom: 0;
}

a {
  color: #96c7ff;
}

td {
  padding: 1.5px 3px ;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center; /*左右*/
  width: 100vw;
}

.header-container {
  top: 0;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  background-color: transparent;
  padding: 0 0 5px 0;
  width: 100%;
  background-color: #1A2238; /* deep navy blue */
  text-align: center;
}

.instruction {
  text-align: left;
  font-size: small;
  margin: 5px;
  padding: 5px;
}

.modal-rules {
  background-color: #454B5B;
}

.modal-quit {
  margin-top: 40vh;
  background-color: #454B5B;
}

.modal-finish {
  background-color: #454B5B;
  margin-top: 70px;
}

.modal-finish img {
  max-width: 100%;  
}

.input-container {
  position: fixed;
  bottom: 0;
  background-color: transparent;
  width: 100%;
}

.input-card {
  text-align: center;
  padding: 5px 10px 15px 10px;
  background-color: #1A2238; /* deep navy blue */
  border-color: #141827;
  border-radius: 0;
  border-width: 5px 0 0 0;
  color: #F0F5F9; /* soft white */
}

.system-message {
  margin-bottom: 3px;
}

.iconMedium {
  font-size: large;
}

.iconLarge {
  font-size: x-large;
}

.message-user {
  color: #FF8C42; /* tangerine orange */
}

.message-system {
  color: #38E4AE; /* mint green */
}

.word-info {
  font-size: small;
}

.grid-container {
  padding: 5px;
  margin: 5px 0 80px 0;
}

.grid-scroller {
  overflow-x: scroll;
  overflow-y: scroll;
  max-height: 60vh;
  min-width: 80vw;
}

@media (max-height: 780px) {
  .grid-scroller {
    max-height: 45vh;
  }
}

.shiritorigrid {
  text-align: center; /* テキストを中央に配置 */
  font-size: small;
}

.usersurface {
  color:  #141827;
  background-color: #FF8C42; /* tangerine orange */
}

.userreading {
  color:  #141827;
  background-color: #fcbd95; /* lighter tangerine orange */
}

.systemsurface {
  color:  #141827;
  background-color: #38E4AE; /* mint green */
}

.systemreading {
  color:  #141827;
  background-color: #9ff3d8; /* lighter mint green */
}

.finish-message {
  font-size: xx-large;
  font-family: 'Monomaniac One', sans-serif;
  text-align: center;
  margin-bottom: 0;
}
